:root{
    --maincolor: #c4c9cd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size:  62.5%;
    scroll-behavior: smooth;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background-color: whitesmoke;
    box-shadow: rgb(0, 0, 0.35) 0px 5px 15px;
}
.header #logo{
    font-size: 3.5rem;
    color: black;
}
.navbar a{
    color: black;
    font-size: 1.7rem;
    margin-left: 1rem;
}
.navbar.active{
    left: 0%;
}

.navbar a:hover{
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    padding: 1rem 3rem ;
}
.icons div{
    font-size:  2rem;
    margin-left: 2rem;
    color: black;
    cursor: pointer;
}
#count {
    padding-left: 5px;
}

.icons div:hover{
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    padding: 1rem 3rem ;
}
.icons #count{
    text-align: center;
    color: rgb(240, 69, 12);
    padding-left: 5px;
    border-radius: 40px;
    top: 50%;
    right: -20px;

}

.icons #count:hover{
    color: aqua;

}
#menu-bar{
    display: none;
}

.search-box{
    position: absolute;
    top: 110%;
    left: 100%;
    width: 50%;
    right: 2rem;
}
.search-box.active{
    left: 30%;
}
.search-box input{
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(5, 4, 4, 0.888) 0px 5px 15px;
}
body.showCart .shopping-cart{
    inset: 0 0 0 auto;
}

/* body.showCart .shopping-cart{
    transform: translateX(-10px);
}  */
.shopping-cart{
    position: fixed;
    width: 400px;
    height: 100vh;
    inset: 0 -500px 0 auto;
    background-color: grey;
    color: rgb(255, 255, 255);
    grid-template-rows: 70px 1fr 70px;
    overflow: auto;
    transition: right 0.3s ease;
}
.shopping-cart h1{
    padding: 20px;
    margin: 0;
    font-size: large;
    font-weight: 300;
    color: black;
}
.shopping-cart .btn{
    font-size: 30px;
    display: grid;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 10px;
    padding: 10px;
    position: sticky;
    grid-template-columns: repeat(2, 1fr);
    z-index: 10;
}
.shopping-cart .btn .close{
    color: antiquewhite;
}
.shopping-cart .btn button{
    background-color: black;
    color: aquamarine;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
}
.shopping-cart .shopping-box .item img{
    width: 100%;
    
}
.shopping-cart .shopping-box .item{
    display: grid;
    grid-template-columns: 70px 140px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.shopping-box{
    position: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding: .5rem;
}
.shopping-box .quantity{
    display: flex;
    align-items: center;
    gap: 5px;
}
.shopping-box .quantity span{
    display: flex;
    width: 20px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: whitesmoke;
    color: rgb(7, 7, 7);
    border-radius: 50%;
    cursor: pointer;
}
.shopping-box .quantity span:nth-child(2){
    background-color: transparent;
}
.shopping-box .item:nth-child(even){
    background-color: #eee1;
}
.search-box{
    overflow: auto;
}
.shopping-cart.active{
    left: 10%;
}
.fa-times{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
}
.shop-content h3{
    font-size: 1.7rem;
    padding: .5rem;

}
.shop-content span{
    margin: .5rem;
    font-size: 1.7rem;
}
.main-background{
    background: url(images/all.jpg);
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.left-back{
    flex: 1 1 45rem;
}
.right-content h1{
    font-size: 50px;
    letter-spacing: 3px;
    color: aqua;
}
.left-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.right-content{
    flex: 1 1 30rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.right-content p{
    font-size: 1.5rem;
}
.right-content i{
    font-size: 4rem;
    color: rgb(175, 53, 5);
}
.inner-main-content{
    background: black;
    padding: 2rem 2rem;
    border-radius: 15px;
}
.inner-main-content h1{
    color: white;
}
.inner-main-content p{
    color: white;
    font-size: 1.5rem;
    padding: .5rem 0;
}
.inner-main-content span{
    color: white;
    font-size: 1.7rem;
    margin-right: 1rem;
}
.shopnow-btn{
    display: block;
    padding: 1rem 2rem;
    background-color: aqua;
    width: 50%;
    border-radius: 15px;
    color: black;
    font-size: 1.7rem;
}
.gallery{
    font-size: 36px;
    text-align: center;
    padding: 1rem 3rem;
    
}
.gallery:hover{
    cursor: pointer;
    text-shadow: aqua;
    font-size: 40px;

}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 10px;
    overflow: hidden;
}
.card-list .card-item{
    list-style: none;
    margin: 10px;
    flex: 1 0 auto;
}
.card-list{
    display: flex;
}
.card-list .card-item .card-link{
    width: 100%;
    user-select: none;
    display: block;
    background: #c4c9cd;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px 10px rgb(29, 51, 51);
    transition: 0.2s ease-in-out;
}
.card-list .card-item .card-link:active{
    cursor: grabbing;
}
.card-list .card-item .card-link:hover{
    box-shadow: 0 10px 10px rgb(31, 231, 231);
}
.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid aquamarine;

}
.card-list .card-link .season{
    color: black;
    background-color: bisque;
    padding: 5px 10px;
    font-weight: 500;
    width: fit-content;
    font-size: 2rem;
    border-radius: 50px;
    margin: 15px 0 18px;
}
.card-list .card-link .card-titile{
    font-size: 3rem;
    color: black;
    font-weight: bolder ;

}
.card-list .card-link .button{
    height: 45px;
    width: 50px;
    color: aqua;
    background-color: black;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: 2px solid aquamarine;
    cursor: pointer;
} 
.banner{
    padding: 3rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: aquamarine;
}
.inner-banner{
    flex: 1 1 45rem;
}
.inner-banner img{
    width: 95%;
    border: 10px;
}
.inner-banner h1{
    font-size: 40px;
    padding: .5rem 0;

}
.inner-banner a{
    padding: 1rem 3rem;
    background-color: black;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin-top: .5rem;
    border-radius: 20px;
}
.product-type{
    padding: 3rem 7%;
}
.product-type h1{
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
.main-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.main-product .inner-product{
    flex: 1 1 30rem;
    position: relative;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
}
.main-product .inner-product h2{
    font-weight: 500;
    font-size: large;
}
.main-product .inner-product .price{
    letter-spacing: 5px;
    font-size: small;
}
.main-product .inner-product button{
    background-color: black;
    color:aqua;
    border-radius: 20px;
    padding:5px 10px;
    margin-top: 10px;
    cursor: pointer;
}
.main-product .inner-product img{
    width: 100%;
    height: 200px;
    filter: drop-shadow( 0 50px 20px #0009);
    border-radius: 5px;
    border: 1px solid aquamarine;
    object-fit: cover;
}
.extra-info{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  0 0 10px black;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}
.extra-info h2 {
    margin-bottom:  15px;
}
.extra-info img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}
.extra-info form{
    margin-top: 20px;
}
.extra-info button.submit-comment{
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#product-details-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: rgba(0, 0, 0.5);
    display: none;
    padding: 10px;
}
.featured-fashion{
    padding: 3rem 7%;
}
.featured-fashion h1{
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
.featured-product-products{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.featured-inner-product{
    flex: 1 1 30rem;
    position: relative;
}
.featured-inner-product a{
    position: absolute;
    top: 50%;
    left: 0;
    padding: 1rem 3rem;
    background: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
    z-index: 100;
}
.featured-inner-product img{
    width: 60%;
    border-radius: 10px;
    border: 1px solid aquamarine;
}
.our-blog{
    padding: 3rem 7%;
}
.our-blog h1{
    font-size: 40px;
    text-align: center;
}
.main-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 15px;
}
.inner-blog{
    flex: 1 1 45rem;
    position: relative ;
}
.inner-blog img{
    width: 50%;
    height: 50%;
    border: 10px;
}
.inner-blog p{
    width: 50%;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    bottom: 1%;
    left: 30%;
    
}





















@media (max-width:768px) {
    html{
        font-size: 50%;
    }
    #menu-bar{
        display: inline-block;
    }
    .header{
        padding: 2rem;
    }
    .navbar{
        position: absolute;
        top: 100px;
        width: 50rem;
        background-color: var(--maincolor);
        height: 100vh;
        left: 100%;
    }
    .navbar a{
        display: block;
        color: white;
        background: black;
        margin: 3rem;
        padding: 1.5rem;
        border-radius: 14px;
        width: 45rem;
    }
    .card-wrapper{
        margin: 0 10px 25px;
    }
}



